@import url("base.css");




/*----------------------Home hero slideshow -------------*/
.home-hero-section{
    width: 90%;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 100px;
}
.hero-image-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.image-slide-wrapper{
    height: 100%;
    position: relative;
}

.image-slide {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    border-radius: 5px;
}
.active{
    opacity: 1
}
.slide-caption{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
}
.slide-caption > div{
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.slide-caption-sub1{
    padding: 10px 0px;
    color: #FFF;
    font-family: var(--arial-mt-black);
    font-size: 30px;
    font-weight: 600;
}
.slide-caption-sub2{
    background-color: #a4a4a43c;
    padding: 10px;
    max-width: 800px;
    /*
    color: #000;
    */
    color: #f2f2f2ff;
    font-size: 25px;
}

.image-slide>div{
    color: white;
}

.hero-slide-buttons{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}
.hero-image-slider button {
    box-sizing: content-box;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 1000;
    color: var(--bs-orange);
    border: 1px solid;
}
.hero-image-slider button:hover {
    color: #FFF;
}
#nextBtn {
    right: 0;
}

#prevBtn {
    left: 0;
}
/*slid up text*/
.slid-up-text .char {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.slid-up-text .char.visible {
    opacity: 1;
    transform: translateY(0);
}


/*-----------------------------------overview --------------------------*/
.overview{
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 100px;
}
.overview .heading-text{
    width: 100%; max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}
.overview-sub{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.overview-sub-text{
    width: 100%;
    max-width: 500px;
}
.overview-sub-text .entry-heading{
    font: normal 600 30px/20px var(--Helvetica);
    color: #4d4b4bff;
}
.overview-sub-text .entry-detail{
    color: #5c5c5cff;
    font-size: 16px;
}
.overview-sub-text ul{
    list-style-type: '-';
    padding: 0px;
}
.overview-sub-text ul li{
    padding-left: 10px;
    color: #5c5c5cff;
}
.overview-sub-image{
    width: 100%; max-width: 500px;
    height: 300px; border-radius: 4px;
    position: relative;
}
.overview-sub-image img{
    box-shadow: 1px 1px 10px 0px rgba(0,0,62,0.3); 
    object-fit: cover;
}
.overview-sub-image img:nth-of-type(2){
    display: none;
}



/*-----------------------------------About us --------------------------*/
.our-services{
    background-color: #fafbf9ff;
    padding: 50px 30px;
    margin-bottom: 100px;
}
.our-services-inner{
    width: 100%; 
    max-width: 1200px;
    margin: auto;
}
.our-services-sub{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 50px;
}
.our-services-sub-entry{
    width: 100%; 
    max-width: 500px;
}
.our-services-sub-entry .our-services-sub-image{
    height: 200px;
    border-radius: 5px;
}
.our-services .heading-text-highlight{
    background-color: #000
}
.green-highlight{
    color: var(--base-green)
}
.our-services-sub-text{
    color: #444242a3;
    font-size: 20px;
    padding-top: 10px;
}


/*----------------------About us -------------*/
.about-us-banner{
    height: 500px;
    position: relative;
    margin-bottom: 50px;
}
.about-us-banner-sub{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-us-banner-sub .banner-note{
    font: normal 400 30px/50px var(--zombie-carshel);
    background-color: #c5c7d3a1;
    width: 90%; max-width: 800px;
    padding: 50px;
    color: #ecececff;
    color: #ecf9dfff;
    border-radius: 5px;
}
.about-us-brief{
    padding: 0px 30px;
}
.about-us-brief .heading-text-highlight{
    margin-top: 5px;
    background-color: #242424ff;
    height: 6px;
}
.about-us-brief p{
    color: var(--bs-gray-700);
    font-size: 16px;
}


/*----------------------Core Values -------------*/
.core-values{
    padding: 0px 30px;
}
.core-value-sub-heading{
    font-size: 20px;
    margin-bottom: 50px;
}
.core-values-entry-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.core-values-entry{
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    border-top: 1px solid var(--bs-gray-400);
}
.core-values-entry h3{
    color: #96b5aaee;
    color: var(--bs-gray-700);
    font-size: 25px;
    margin-top: 20px;
}
.core-values-entry p{
    color: var(--bs-gray-700);
}


/*----------------------Jobs Executed -------------*/
.jobs-executed{
    background-color: #ebedebff;
    padding: 50px 20px;
    margin-bottom: 100px;
}
.jobs-executed>section{
    margin-bottom: 0px;
}
.jobs-executed-sub{
    background-color: #FFF;
    border-radius: 5px;
    padding: 30px 0px;
}
.thead{
    display: flex;
    color: #4d4b4bff;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.thead>div{
    word-break: break-word;
}
.thead>div:nth-of-type(1){
    width:30%;
}
.thead>div:nth-of-type(2){
    width: 70%;
}

.trow{
    border-top: 1px solid var(--bs-gray-400);
    padding: 20px 20px;
}
.trow:nth-child(even){
    background-color: #f7f6f7ff;
}
.trow:last-child{
    border-bottom: 1px solid var(--bs-gray-400);
}
.trow-view{
    display: flex;
    align-items: center;
}
.trow-view button{
    transition: 0.5s;
    cursor: pointer;
}
.trow-view>div:nth-of-type(1){
    width : 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trow-view>div:nth-of-type(1) img{
    width: 100%; 
    max-width: 70px; height: 70px;
}
.trow-view>div:nth-of-type(2){
    width: 50%;
    color: #494747ff;
    font-size: 15px;
}
.trow-view>div:nth-of-type(3){
    width: 20%;
    display: flex;
    justify-content: center;
}
.trow-view>div:nth-of-type(3) img{
    width: 18px;
}

.trow-dropdown{
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
    color: #6b6868ff;
    font-size: 15px;
    padding: 0px 10px;
    max-width: 800px; margin: auto;
    padding-top: 10px;
}
.trow-dropdown-heading{
    color: #000;
    font-size: 16px;
}



/*----------------------our partners -------------*/
.our-partners{
    background: url("https://res.cloudinary.com/dhbj763qc/image/upload/v1716292812/zsienergy/james-sullivan-ESZRBtkQ_f8-unsplash_1_fieuyt.jpg") center/cover no-repeat;
}
.our-partners section{
    padding: 30px 20px;
}

.our-partners .green-highlight{
    background-color: #242424ff;
    padding: 3px;
    transform: rotate(-5deg); 
    display: inline-block
}
.post-partners-heading{
    background-color: #f5f5f5ff;
    padding: 20px;
    border-radius: 5px;
    color: #4d4b4bff;
    font-size: 16px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,62,0.3); 
}
.partners-wrapper{
  display: flex; 
  flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.partner-entry>div{
    box-shadow: 1px 1px 10px 0px rgba(0,0,62,0.3); 
    background-color: #f6ffebff;
    width: 100%; max-width: 200px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
}
/*
.partner-entry::after{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 1%;
    border-width: 15px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    #f6ffebff
}
*/
.partner-entry h3{
    color: #296b1fff;
    margin-bottom: 5px;
}
.partner-entry p{
    color: #4d4b4bff;
}


/*----------------------our policies-------------*/
.our-policies{
    padding: 30px;
}
.policy-entry:not(:last-child){
    margin-bottom: 50px;
}
.subheading-text{
    color: #f7901cff;
}
.subheading-text + p{
    color: var(--bs-gray-800);
    font-size: 16px;
}

/*----------------------Our Quality Management Policy -------------*/
.oqmp{
    background-color: #f7ffddff;
    padding: 50px 30px;
    margin-bottom: 100px;
}
.oqmp section{
    margin-bottom: 0px;
}
.oqmp-entry-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oqmp-entry{
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    border-top: 1px solid var(--bs-gray-400);
    color: var(--bs-gray-700);
    padding-top: 30px;
}


/*----------------------Product page brief -------------*/
.product-hero-image-wrapper{
    height: 600px;
    position: relative;
    overflow: hidden;
}
.product-hero-image-wrapper img{
    object-fit: cover;
}
/*product brief next element*/
.product-hero-image-wrapper + div{
    max-width: 1200px;
    padding: 30px;
    margin: auto;
}
.product-page-brief p{
    color: var(--bs-gray-700);
    font-size: 16px;
    margin-bottom: 100px;
}


@media screen and (min-width:360px){
    .slide-caption-sub1{
        font-size: 45px;
    }
}
@media screen and (min-width:500px){
    .overview-sub-image{
        height: 400px
    }
    .overview-sub-image img{
        height: 300px;
        width: 70%;
    }
    .overview-sub-image img:nth-of-type(2){
        display: block;
        position: absolute;
        width: 300px;
        right: 0;
        top: 100px
    }
}
@media screen and (min-width:712px){
    /*------Home hero slideshow-------*/
    .slide-caption-sub1{
        font-size: 70px;
    }
    .slide-caption{
        padding-left: 50px;
    }
    .hero-image-slider button {
        top: 50%;
    }
    /*----------our partners --------*/
    .our-partners section{
        padding: 50px 20px;
    }
}
@media screen and (min-width:912px){
    /*------Overview-------*/
    .overview-entry{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .overview-entry:nth-child(even){
        flex-direction: row-reverse;
    }
}
@media screen and (min-width:1280px){
    .slide-caption{
        padding-left: 100px;
    }
}
@media screen and (min-width:1440px){
    .overview-entry{
        gap: 50px;
    }
    .overview-sub-image{
        width: 700px;
        max-width: 700px;
        height: 500px;
    }
    .overview-sub-image img{
        width: 400px;
        height: 400px;
    }
    .overview-sub-image img:nth-of-type(2){
        width: 400px;
    }
}
